<Files ~ ".(ttf|css)$">
  Header append Access-Control-Allow-Origin: *
 </Files>
 
 <Files ~ ".(gif|jpe?g|png|ico|otf|ttf|eot|woff|gz)$">
  Header set Cache-Control "max-age=2592000, public"
 </Files>
 <Files ~ ".(css|js|html)$">
  Header set Cache-Control "max-age=86400, public"
 </Files>
 
 <IfModule mod_mime.c>
 	AddType font/opentype         .otf
 	AddType font/eot              .eot
 	AddType font/truetype         .ttf
 	AddType application/font-woff .woff
 </IfModule>
 <IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE font/opentype font/eot font/truetype application/font-woff
 </IfModule>
